{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/landing.css' %}" />
</head>


<body>
    <main class="container">
        <header>
            <nav>
                <ul class="navbar">
                    <li class="logo nav_item"><a href="{% url 'home' %}">
                            <img class="responsive-img" src="{% static 'images/logo.jpg' %}" alt="LoGo">
                        </a></li>
                    <li class="nav_item ">
                        <ul class="nav_content">
                            <li class="nav_link nav_btn"><a href="{% url 'home' %}">Home</a></li>
                            <li class="nav_link nav_btn"><a href="#about">About</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <article>
            <div class="jumbotron">
                <div class="img-container">
                    <img src="{% static 'images/uc1.svg' %}" class="responsive-img" alt="" class="banner">
                </div>
                <div class="content">
                    <h1>DESIGNERS HUB</h1>
                    <p>“The life of a designer is a life of fight. Fight against the ugliness. Just like a doctor
                        fights against disease. For us, the visual disease is what we have around, and what we try to
                        do is cure it somehow with design.”</p>
                </div>
            </div>
            <div class="btns">
                <div class="main-btn"><a href="{% url 'designer_register'%}">I want to work</a></div>
                <div class="main-btn"><a href="{% url 'client_register'%}">I want to hire</a></div>
            </div>
        </article>
    </main>
    <section id="about" class="about">
        <h2>About us</h2>
        <div class="card-holder">
            <div class="card">
                <img src="{% static 'images/boy.svg' %}" class="card-img" alt="">
                <div class="card-content">
                    <p>"The life of a designer is a life of fight. Fight against the ugliness."</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'images/girl.svg' %}" class="card-img" alt="">
                <div class="card-content">
                    <p>"The life of a designer is a life of fight. Fight against the ugliness."</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'images/man.svg' %}" class="card-img" alt="">
                <div class="card-content">
                    <p>"The life of a designer is a life of fight. Fight against the ugliness."</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <h2>Contact Us</h2>
        <div class="icon-holder">
            <span class="icon-btn"><i class="fab fa-twitter"></i></span>
            <span class="icon-btn"><i class="fab fa-facebook-square"></i></span>
            <span class="icon-btn"><i class="fab fa-linkedin"></i></span>
            <span class="icon-btn"><i class="fab fa-instagram"></i></span>
        </div>
    </footer>

</body>

</html>